[main]
cachedir=/var/cache/yum/$basearch/$releasever
keepcache=0
debuglevel=2
logfile=/var/log/yum.log
exactarch=1
obsoletes=1
gpgcheck=0
plugins=1
{% if el7_exclude_from_update is defined %}
exclude={% for item in el7_exclude_from_update %}{{ item }} {%endfor %}
{% endif %}

# Don't keep old kernels
installonly_limit=0

# PUT YOUR REPOS HERE OR IN separate files named file.repo
# in /etc/yum.repos.d
